*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
body{
    height: 3300px;
    perspective: 700px;
}
/* start header */
.container-1{
width: 100%;
height: 60px;
background-color:rgba(73, 36, 16, 0.479);
top: 0%;
position: fixed;
overflow: auto;
z-index: 5;
}
.img-head{
width: 150px;
height: 60px;
margin-left: 40px;
float: left;
}
.ul-heaad{
list-style: none;
float: right;
margin-right: 50px;
margin-top: 18px;
}
.ul-heaad li{
display: inline-block;  
margin-right: 30px;
}
.a-header{
 color: rgb(136, 76, 48);
}
.a-header-1{
color:white;
}
.i-2,.i-1,.i-3{
 margin-left: 15px;
 font-size: 23px;
}
.span-1{
 font-size: 21px;
 color:red;
}
.span-2{
 text-transform: capitalize;
 font-size:15px;
}
/* end header */
/* start main */
.parent-1{
 width: 100%;
 height: 100vh;
 background-image: url(../imges/store-locator-top-level-banner-background-image-d.jpg);
 background-size: cover;
 background-position: center;
}
.p-main{
font-size: 40px;
font-weight: 700;
text-transform: capitalize;
padding-top: 470px;
padding-left: 200px;
 color: white;
} 
.button-main{
 font-size: 30px;
margin-left: 200px;
 padding: 5px;
border-radius: 5px;
text-transform: capitalize;
}
.mg-main{
    margin-left: 20px;
    font-size: 32xp;
}
/* end main */
/* start section-2 */
.h2-section1{
    margin-top: 50px;
    margin-left: 650px;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 800;
    word-spacing: 10px;
    color: rgb(178, 96, 71);
}
.div-1-section1{
    width: 170px;
    height: 5px;
    margin-top: 15px;
    margin-left:680px;
    background-color:  rgb(119, 51, 30);
}
.parent-2{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.div-2-section1{
width: 250px;
}
.img-section2{
    width: 250px;
    height: 290px;
}
.p-section1{
    padding-top: 20px;
color: gray;
text-transform: capitalize;
}
.h4-section1{
    margin-top: 5px;
    width: 130px;
    text-transform: capitalize;
    font-size: 18px;
    display: inline-block;
}
.a-section1{
  font-size: 23px;
 background-color: brown;
 color: white;
 padding: 1px 2px;
visibility: hidden;
}
.div-2-section1:hover .a-section1{
    visibility: visible;
}
/* end section-2 */
/*start section-3 */
.parent-3{
margin-top: 70px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
position: relative;
}
.div-1-section-3{
width: 430px;
height: 400px;
border: solid 1px  rgb(119, 51, 30);
background-color: rgba(165, 71, 42, 0.264);

}
.div-2-section-3{
    width: 300px;
    height: 400px;
    border: solid 0.5px  rgb(119, 51, 30);
    text-align: center;
background-image: url(../imges/GettyImages-1205678026.webp);
background-size: 300px 400px;
}
.div-3-section-3{
    width: 300px;
    height: 400px;
    border: solid 0.5px  rgb(119, 51, 30);
    text-align: center;
background-image: url(../imges/start_remove-c851bdf8d3127a24e2d137a55b1b427378cd17385b01aec6e59d5d4b5f39d2ec.png);
background-size: 300px 400px;
}
.i-section-3{
    font-size: 32px;
    color: #553939;
}
.h4-1-section-3{
    padding-left: 15px;
    font-size: 25px;
    color: #553939;
    display: inline;
    text-transform: capitalize;

}
.span-section-3{
   font-size: 18px; 
   text-transform: capitalize;
   padding-left: 48px;
   padding-top: 4px;
   color: #704F4F;
}
.p-2-section-3{
    padding-top: 14px;
    text-transform: capitalize;
    line-height: 26px;
    padding-left: 5px;
}
.span-1-section3{
    font-size: 30px;
    color: white;
}
.p-3-section3,.p-4-section3{
   font-size: 18px; 
   text-transform: capitalize;
   color: gray;
}
.h4-3-section-3,.h4-2-section-3{
    font-size: 20px;
    text-transform: capitalize;
   color: #472D2D;
}
.div-4-section-3,.div-5-section-3,.div-6-section-3{
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #472D2D;
    margin-top: 20px;
}
.div-4-section-3{
    margin-left: 210px;
}
.div-2-section-3:hover,.div-3-section-3:hover{
transform: scale(1.2,1.2);
}
/* end section-3 */
/* start section-4 */
.parent-4{
    margin-top: 90px;
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;

}
.div-1-section-4,.div-2-section-4,.div-3-section-4,.div-4-section-4,.div-5-section-4{
    text-align: center;
}
.div-6-section-4,.div-7-section-4,.div-8-section-4,.div-9-section-4{
width: 2px;
height: 100px;
background-color: #553939;
}
 
.i-section-4{
    font-size: 40px;
 color: #472D2D;
}
.h4-section-4{
    text-transform: capitalize;
    font-size: 18px;
    padding-top: 10px;
    color: #553939;
}
.p-section4{
    text-transform: capitalize;
    color: gray;
    padding-top: 10px;
}
.div-10-section-4{
    width: 1000px;
    height: 1px;
    margin-top: 90px;
background-color: #704F4F;
}
/* end section-4 */ 
 /* start section-5  */
 .parent-5{
 margin-top: 70px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
}
.div-1-section-5{
    margin-top: 30px;
    width: 300px;
    transform-style: preserve-3d;
    position: relative;
    transition: 2s;
}
.img-1-section-5,.img-2-section-5{
    width: 300px;
    height: 400px;
    position: absolute;
}
.img-1-section-5{

}
.img-2-section-5{
z-index: 2;
backface-visibility: hidden;
 transform: rotateY(180deg);
}
.div-2-section-5{
position: absolute;
z-index: 1;
transform: translate(68px,310px);
}
.i-section-5{
font-size: 25px;
padding: 8px;
background-color: #b98577;
color: white;
}
.div-1-section-5:hover {
transform: rotateY(180deg);
}
.div-3-section-5{
 padding-top: 410px;
 left: 0px;
 backface-visibility: hidden;
}
.i-1-section-5{
    font-size: 25px;
    color: #553939;
}
.mg-section-5{
color: #b98577;
}
.p-ssction-5{
    font-size: 25px;
    color: #b98577; 
}
.h4-section-5{
    font-size: 23px;
    color: #b98577;
}
.parent-6{
    margin-top: 20px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   }
 /* end section-5 */